extends layout

block content
  article.container-fluid.d-flex.align-items-center.justify-content-center.article-main
    div.card.text-center
      div.card-body
        h3.card-title Escape From Tracker
        p.card-text Track your Escape From Tarkov progress
        a.btn.btn-outline-light.col-10(href="/quests") Get Started
